/* ==========================================================
 * fullpage.css v20150325
 * ==========================================================
 * Copyright shihua
 * shihuacivis@163.com
 * fullpage模块css
 * ========================================================== */

html,
body {
  overflow: hidden;
  width: 100%;  /*！！！必须！！！   撑大容器*/
  height: 100%; /*！！！必须！！！   撑大容器*/
  color: #fff;
}

.section-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .3s;
          transition: transform .3s;
}
.section {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
.moving {
  -webkit-transition:none 0 step-start;
          transition:none 0 step-start
}
